# Copyright (C) ShapeBlue Ltd - All Rights Reserved
# Unauthorized copying of this file, via any medium is strictly prohibited
# Proprietary and confidential
# Released by ShapeBlue <info@shapeblue.com>, April 2014

---

- name: Ensure selinux python bindings are installed (Ansible requirement)
  yum: name=libselinux-python state=present

- name: Remove firewalld if present
  yum: name=firewalld state=absent

- name: Remove iptables if present
  yum: name=iptables state=absent

- name: Ensure the Apache Cloudstack Repo file is configured
  template: src=mysql.repo.j2 dest=/etc/yum.repos.d/cloudstack.repo

- name: Ensure mysql python are installed (Ansible requirement)
  yum: name=MySQL-python state=present
  
- name: Ensure mysql server is installed
  yum: name=mysql-community-server state=present
  
- name: Configure MySQL my.cnf using Template
  template: src=my.cnf.j2 dest=/etc/my.cnf

- name: restart MySQL
  service: name=mysqld state=restarted

- name: Ensure MySQL service is started and set to start on boot
  service: name=mysqld state=started enabled=yes
  
- name: update mysql root password
  mysql_user: user="root" password="{{ mysql_root_password }}" host="localhost" login_user="root" login_password="{{ old_mysql_root_password }}"
